{% extends 'base.html.twig' %}

{% block title %}Index des épisodes{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center align-items-center">
        <h1>Index des épisodes</h1>
        <h2 class="pt-1"><a href="{{ path('episode_new') }}"><i class="fa fa-plus-circle"></i></a></h2>
    </div>
    <div class="col-12">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Infos</th>
                    <th>Synopsis</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.id }}</td>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.season.program.title }}, S. {{ episode.season.number }}, Ep. {{ episode.number }}</td>
                    <td>{{ episode.synopsis }}</td>
                    <td>
                        <a href="{{ path('episode_show', {'id': episode.id}) }}">Voir</a> /
                        <a href="{{ path('episode_edit', {'id': episode.id}) }}">Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
