{% extends 'base.html.twig' %}

{% block title %}Index des saisons{% endblock %}

{% block body %}
    <div class="row d-flex justify-content-center align-items-center">
        <h1>Index des saisons</h1>
        <h2 class="pt-1"><a href="{{ path('season_new') }}"><i class="fa fa-plus-circle"></i></a></h2>
    </div>
    <div class="col-12">
        <table class="table text-white">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="th-name">Série</th>
                    <th>Numéro</th>
                    <th>Année</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.program.title }}</td>
                    <td>{{ season.number }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td>
                        <a href="{{ path('season_show', {'id': season.id}) }}">Voir</a>
                        <a href="{{ path('season_edit', {'id': season.id}) }}">Éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucune saison trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
