{{ form_start(form) }}
<div class="row">
    <div class="col-6">
        {{ form_row(form.title) }}
    </div>
    <div class="col-6">
        {{ form_row(form.category) }}
    </div>
</div>
    {{ form_row(form.summary) }}
    {{ form_row(form.poster) }}
    {{ form_row(form.actors) }}
    <button class="btn btn-save m-0 p-0"><h2 class="ml-0"><i class="fa fa-save"></i></h2></button>
{{ form_end(form) }}
