{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <h2>Saison {{ season.number }} de '{{ program.title }}'</h2>
    <p class="row col-7 ml-1">{{ season.description }}</p>
    <ul>
        {% for episode in episodes %}
        <li>Épisode {{ episode.number }} : {{ episode.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}